:root {
  --search-background: var(--grey-2);
  --border: var(--grey-5);
}

#search-container {
  overflow: auto;
  flex: 1;
  background-color: var(--search-background);
  min-width: 293px;
}

.search-result {
  margin: 1em;
}
