:root {
  --pdf-background: var(--grey-2);
  --tools-header-background: var(--grey-3);
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.App .header {
  width: 100%;
  height: 100px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;
  background: #00a5e4;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
}

#scroll-view {
  bottom: 0;
  /* leave room for 100px header */
  height: 100%;
  width: 100%;
  overflow: auto;
  flex: 3;
  background-color: var(--pdf-background);
}

#viewer {
  margin: auto;
}

#main-column {
  flex-direction: row;
  flex: 3;
}

#tools {
  background-color: var(--tools-header-background);
}

#tools button {
  background-color: var(--tools-header-background);
  border: none;
  outline: none;
  box-shadow: none;
}

.center {
  margin: auto;
  text-align: center;
}

.pageContainer {
  border: 1px solid #ececec;
  box-shadow: 5px 10px 18px #ececec;
  position: relative;
}

.flexbox-container {
  display: flex;
}
