:root {
  --pdf-background: white;
  --tools-header-background: white;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.App .header {
  width: 100%;
  height: 100px;
  padding: 8px 8px 8px 16px;
  box-sizing: border-box;

  font-size: 1.2em;
  line-height: 44px;
  color: white;
}

#scroll-view {
  bottom: 0;
  /* leave room for 100px header */
  height: 100%;
  width: 100%;
  overflow: auto;
  flex: 1;
  background-color: var(--pdf-background);
}

#viewer {
  margin: auto;
}

#main-column {
  display: flex;
  flex-direction: row;
  flex: 1;
}

#tools {
  display:flex;
  flex-direction: column;
  justify-content: top;
  background-color: var(--tools-header-background);
  height:fit-content;
  width:auto;
  margin: 10px;
  padding: 20px 0px 20px 0px;
  box-shadow: 0px 0px 5px 5px var(--grey-1);
  border-radius: 8px;
}

#tools button {
  background-color: var(--tools-header-background);
  fill: #757575;
  width: fit-content;
  height: fit-content;
  padding: 5px 10px 5px 10px;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}

#tools button:hover {
  background-color: #F5F4F4;
  border-radius: 0px;
}

.pageContainer {
  border: 1px solid #ececec;
 /* box-shadow: 5px 10px 18px #ececec;*/
  position: relative;
}

.flexbox-container {
  display: flex;
}

#divider{
  background-color: var(--grey-2);
  width: 100%;
  height: 3px;
  margin: 4px 0px 4px 0px;
}

