:root {
  --grey-1: #F8F9FA;
  --grey-2: #F1F3F5;
  --grey-3: #E7EBEE;
  --grey-4: #DEE2E6;
  --grey-5: #CFD4DA;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.webviewer {
  flex: 1;
  margin: 8px;
  -webkit-box-shadow: 1px 1px 10px #999;
          box-shadow: 1px 1px 10px #999;
}
